{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">Events list</h1>

    <table class="table table-dark">
        <thead class="">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Begin</th>
                <th scope="col">Email</th>
                <th scope="col">Tel</th>
                <th scope="col">Address</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <th scope="col"><a class="btn btn-danger" href="{{ path('events_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{% if event.begin %}{{ event.begin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.email }}</td>
                <td>{{ event.tel }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-warning" href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-success" href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('events_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
